#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style-type: none;
}

nav {
  position: fixed;
  top: 30px;
  left: 5px;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 50;
  padding: 0;
  text-align: left;
  padding-left: 30px;
}

nav ul li {
  font-size: 20px;
  display: flex;
  gap: 25px;
}

input {
  border-style: groove;
  border-color: aliceblue;
  opacity: 0.9;
  margin: 10px;
  text-align: center;
}

.new-user-message {
  font-size: 15px;
}

.form-control-email {
  margin-left: 45px;
}
.home-heading {
  font-size: 50px;
  text-align: center;
  padding: 30px;
  margin-top: 0px;
  margin-bottom: 100px;
}

.title {
  font-size: 30px;
}

.new-user-submit {
  color: blue;
  margin: 15px;
}

nav button.nav-link {
  background-color: transparent;
  border: none;
  color: #646cff;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin-left: 0.2px;
  margin-top: 0px;
}

nav button.nav-link:hover {
  color: #535bf2;
}
