:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0, 18, 255);
  background: linear-gradient(
    0deg,
    rgb(176, 176, 180) 16%,
    rgb(18, 17, 17) 100%
  );
}

a {
  font-weight: 500;
  color: #e5e6f6;
  text-decoration: inherit;
}
a:hover {
  color: #e5e6f6;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
